{% extends 'jobs/base.html' %}
{% block content %}
{% load static %}

<section class='profile'>
  <div class="jumbotron">
    <div class="container">
      <div class="row mt-4">

        <div class="col-4">
          <img class="rounded" src="{% static 'jobs/images/photo.JPG' %}" height="250" alt="image">
        </div>
        <div class="col-8">
          {% include "jobs/profile.html" %}
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <p><img src="{% static "jobs/logos/birthday.png" %}" height="40" alt="birthday"> 1992/6/22 (27歳)</p>
        </div>
        <div class="col">
          <p><img src="{% static "jobs/logos/license.png" %}" height="40" alt="license"> 一級建築士、TOEIC 880点</p>
        </div>
        <div class="col">
          <p><img src="{% static "jobs/logos/location.png" %}" height="40" alt="location"> 日本、大阪府</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p><img src="{% static "jobs/logos/phone.png" %}" height="40" alt="phone"> 080-1500-2937</p>
        </div>
        <div class="col">
          <p><img src="{% static "jobs/logos/mail.png" %}" height="30" alt="mail"> huchida0622@gmail.com</p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="experience">
  <div class="container">
    {% include "jobs/resume.html" %}
  </div>
</section>

<section class="project">
  <div class="container">
    <h1><strong class="under_line">Works</strong></h1>
    {% for job in jobs.all %}
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ job.title }}<span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">
          {{ job.summary }}
        </p>
      </div>
      <div class="col-md-3">
        <img class="rounded" src="{{ job.image.url }}" height="300" alt="project image">
      </div>
    </div>

    {% endfor %}
  </div>
</section>







{% endblock %}
