{% extends 'jobs/base.html' %}
{% block content %}
{% load static %}

  <main role="main">

    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h1>内田 裕貴</h1>
            <img src="{% static 'Hiroki.jpg' %}" height="250" alt="image">
            <p class="lead text-muted">
              {% include "jobs/profile.html" %}
            </p>
          </div>

            {% include "jobs/resume.html" %}
          
        </div>
        {# <p><a href="mailto:huchida0622@gmail.com" class="btn btn-primary my-2">Email</a></p> #}
      </div>
    </section>







    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

          {% for job in jobs.all %}

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{{ job.image.url }}" width="100%" height="225" alt="No Image" />
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>

  </main>

{% endblock %}
