
<style>

  * {
    color: #3D405B;
    margin: 0;
    padding: 0;
  }

  ul {
    width: 1000px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    list-style-type: none;
  }

  ul li {
    padding-bottom: 20px;
  }

  ul::before {
    content: "";
    position: absolute;
    width: 3px;
    background: #F4F1DE;
    height: 95%;
    left: 0;
    top: 0;
  }

  ul li div {
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
    position: relative;
    background-color: #F4F1DE;
    box-shadow: 0 15px 15px -10px #F4F1DE;
  }

  ul li div::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #F4F1DE;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
  }

  ul li::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #81B29A;
    left: -8px;
    border-radius: 50%;
    margin-top: 20px;
  }
</style>

<h1><strong class="under_line">Experience</strong></h1>
<div class="timeline">
  <ul>
    <li>
      <div>
        <h4>2019/11 - </h4>
        <h5>Start Programming</h5>
        <p>UdemyやYouTubeで独学<a href="https://www.udemy.com/user/hiroki-118/">(受講済 Udemy Courses)</a><br>
          Python: Django, Numpy, Pandas, Sckit-learn, Matplotlib, Seaborn<br>
          JavaScript: Vue.js<br>
          Other: HTML, CSS<br>
          DB: PostgreSQL
      </div>
    </li>
    <li>
      <div>
        <h4>2016 - 2019</h4>
        <h5>株式会社一条工務店</h5>
        <p>東京で注文住宅の施工管理者として勤務。</p>
      </div>
    </li>
    <li>
      <div>
        <h4>2012 - 2016</h4>
        <h5>法政大学</h5>
        <p>デザイン工学部建築学科</p>
      </div>
    </li>
    <li>
      <div>
        <h4>2008 - 2011</h4>
        <h5>大阪府立豊中高等学校</h5>
        <p></p>
      </div>
    </li>

  </ul>
