{% load static %}

<div class="history-tl-container">
  <ul class="tl">

    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2019/10 -
      </div>
      <div class="item-title">Start Python</div>
      <div class="item-detail">Don't forget the ring</div>
    </li>

    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2016 - 2019
      </div>
      <div class="item-title">一条工務店</div>
      <div class="item-detail">Don't enter the caves!!</div>
    </li>

    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2012 - 2016
      </div>
      <div class="item-title">法政大学</div>
      <div class="item-detail">Also, throw that Gollum too</div>
    </li>

    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2008 - 2011
      </div>
      <div class="item-title">大阪府立豊中高等学校</div>
      <div class="item-detail">Also, throw that Gollum too</div>
    </li>

  </ul>
</div>
